<div class="Containerr" id="ContainerC1">

    <div class="InternalContainer">
        <p>ENCRYPT MESSAGE</p>
        <br />
        <input type="text" id="TextInput" placeholder="Enter a Message to Encrypt" />
        <button type="button" id="submitButton" onclick="Encrypt()">ENCRYPT</button>

        <br /><br />

        <div class="encrypted encryptedcolor"></div>

        <script>

            let encryptkey = 0;
            let decryptkey = 0;

            var Alphabet = {
                1: 'A',
                2: 'Ą',
                3: 'B',
                4: 'C',
                5: 'Ć',
                6: 'D',
                7: 'E',
                8: 'Ę',
                9: 'F',
                10: 'G',
                11: 'H',
                12: 'I',
                13: 'J',
                14: 'K',
                15: 'L',
                16: 'Ł',
                17: 'M',
                18: 'N',
                19: 'Ń',
                20: 'O',
                21: 'Ó',
                22: 'P',
                23: 'Q',
                24: 'R',
                25: 'S',
                26: 'Ś',
                27: 'T',
                28: 'U',
                29: 'V',
                30: 'W',
                31: 'X',
                32: 'Y',
                33: 'Z',
                34: 'Ź',
                35: 'Ż'
            };

            var textInput = document.getElementById("TextInput");
            var button = document.getElementById("submitButton");
            var displayedMessage = document.querySelector(".encrypted");
       
            function Encrypt() {
                var inputText = textInput.value.toUpperCase();
                var selectElement = document.getElementById("EncryptionKey");
                var selectedOptionValue = selectElement.value;
                var encryptedMessage = '';
                encryptkey = parseInt(selectedOptionValue);

                for (var i = 0; i < inputText.length; i++) {
                    var character = inputText[i];
                    var found = false;

                    for (var key in Alphabet) {
                        if (Alphabet[key] === character) {

                            var newKey = (parseInt(key) + encryptkey)
                            if(newKey>35)
                            {
                                newKey=newKey%35;
                            }
                            encryptedMessage += Alphabet[newKey];
                            found = true;
                            break;
                        }
                    }
                    if (!found) {
                        encryptedMessage += character;
                    }
                }
                displayedMessage.innerText = "ENCRYPTED MESSAGE: " + encryptedMessage.replace(/\s/g, '');
            }
        </script>

   </div>

    <div class="InternalContainer keys">

        <label for="EncryptKey">Encryption Key:</label>
        <select id="EncryptionKey">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
        </select>

    </div>

</div>


<div class="Containerr Containerr2 ">

    <div class="InternalContainer">

        <p>DECRYPT MESSAGE</p>

        <br/>
        <input type="text" id="TextInputDecrypt" placeholder="Enter a Message to Decrypt" />
        <button type="button" id="submitDecrypt" onclick="Decrypt()">DECRYPT</button>

        <br/><br/>

        <div class="decrypted"></div>

        <script>

            var textInput2 = document.getElementById("TextInputDecrypt");
            var button2 = document.getElementById("submitDecrypt");
            var displayedMessage2 = document.querySelector(".decrypted");

            function Decrypt() {
                var inputText = textInput2.value.toUpperCase();
                var decryptedMessage = '';
                var selectElement = document.getElementById("DecryptionKey");
                var selectedOptionValue = selectElement.value;
                decryptkey = parseInt(selectedOptionValue);

                for (var i = 0; i < inputText.length; i++) {
                    var character = inputText[i];
                    var found = false;

                    for (var key in Alphabet) {
                        if (Alphabet[key] === character) {

                            var newKey = (parseInt(key) - decryptkey)
                            if (newKey <= 0) {
                                newKey = newKey + 35;
                            }
                            decryptedMessage += Alphabet[newKey];
                            found = true;
                            break;
                        }
                    }
                    if (!found) {
                        decryptedMessage += character;
                    }
                }
                displayedMessage2.innerText = "DECRYPTED MESSAGE: " decryptedMessage.replace(/\s/g, '');
            }

        </script>

    </div>
    <div class="InternalContainer keys">

        <label for="EncryptKey">Decryption Key:</label>
        <select id="DecryptionKey">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
        </select>

    </div>


</div>

